---
import { meta, siteConfig } from "virtual:pigment-config";
import type { AlternateLink } from "../../types";
import { getAbsoluteUrl, getHost } from "../../utils/urls";

type Props = {
  title: string;
  description: string;
  alternate?: AlternateLink[];
};

const { title, description, alternate } = Astro.props;

const ogLocale = meta.lang.includes("-") ? meta.lang.replace("-", "_") : null;
const canonical = getHost() + Astro.url.pathname;
const ogImageUrl = meta.og.image.url ? getAbsoluteUrl(meta.og.image.url) : null;
const twitterImageUrl = meta.twitter.image.url ? getAbsoluteUrl(meta.twitter.image.url) : null;
---

<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonical} />
{alternate?.map((a) => <link rel="alternate" type={a.type} title={a.title} href={a.href} />)}
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonical} />
<meta property="og:site_name" content={siteConfig.project.name} />
{ogLocale && <meta property="og:locale" content={ogLocale} />}
{
  ogImageUrl && (
    <>
      <meta property="og:image" content={ogImageUrl} />
      <meta property="og:image:alt" content={meta.og.image.alt} />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
    </>
  )
}
<meta name="twitter:card" content={twitterImageUrl ? "summary_large_image" : "summary"} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
{meta.twitter.site && <meta name="twitter:site" content={meta.twitter.site} />}
{meta.twitter.creator && <meta name="twitter:creator" content={meta.twitter.creator} />}
{
  twitterImageUrl && (
    <>
      <meta name="twitter:image" content={twitterImageUrl} />
      <meta name="twitter:image:alt" content={meta.twitter.image.alt} />
    </>
  )
}
